[submodule "RINGS2"]
	path = RINGS2
	url = https://github.com/r-dug/RINGS.git
[submodule "python-program-to-verify-two-element-ring-r-dug"]
	path = python-program-to-verify-two-element-ring-r-dug
	url = https://github.com/uofl-russell/python-program-to-verify-two-element-ring-r-dug.git
[submodule "hello-github-r-dug"]
	path = hello-github-r-dug
	url = https://github.com/uofl-russell/hello-github-r-dug.git
[submodule "notes_GPT"]
	path = notes_GPT
	url = https://github.com/r-dug/notes_GPT.git
